<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ReportTemplatesDirectory" value="c:\\ReportTemplates"/>
    <add key="ApiKey" value="2ec789b6d81c6e74c77e9d20f30d84cd" />
    <add key="AppSid" value="ce26413f-39d0-4653-a6f7-a6cb73fbefd9" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>