<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ApiKey" value="1e696ddbe1860e652435d7634d6bf547" />
    <add key="AppSid" value="2307d605-cef5-4f1e-939d-c895f721ff30" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>